DOCKYARD_LISTEN_ADDR=:8080
DOCKYARD_DATABASE_URL=postgres://dockyard:dockyard@localhost:5432/dockyard?sslmode=disable
DOCKYARD_MASTER_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
DOCKYARD_DOCKER_BIN=docker
DOCKYARD_WORKER_CONCURRENCY=2
DOCKYARD_SESSION_TTL=24h
DOCKYARD_TRAEFIK_NETWORK=dockyard-public
DOCKYARD_PUBLIC_URL=http://localhost:8080
DOCKYARD_BACKUP_DIRECTORY=/var/lib/dockyard/backups
